{% load static %}
<aside class="left-sidebar" data-sidebarbg="skin6">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'products:product' %}"
                       aria-expanded="false">
                        <i class="far fa-clock" aria-hidden="true"></i>
                        <span class="hide-menu">Umumiy</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'products:profile' %}"
                       aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="hide-menu">Ishchilar ro'yxatiati</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'products:table' %}"
                       aria-expanded="false">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <span class="hide-menu">Mahsulotlar jadvali</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="fontawesome.html"
                       aria-expanded="false">
                        <i class="fa fa-font" aria-hidden="true"></i>
                        <span class="hide-menu">Kassa</span>
                    </a>
                </li>
                {#                <li class="sidebar-item">#}
                {#                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="map-google.html"#}
                {#                       aria-expanded="false">#}
                {#                        <i class="fa fa-globe" aria-hidden="true"></i>#}
                {#                        <span class="hide-menu">Yangiliklar</span>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li class="sidebar-item">#}
                {#                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="blank.html"#}
                {#                       aria-expanded="false">#}
                {#                        <i class="fa fa-columns" aria-hidden="true"></i>#}
                {#                        <span class="hide-menu">Blank Page</span>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li class="sidebar-item">#}
                {#                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="404.html"#}
                {#                       aria-expanded="false">#}
                {#                        <i class="fa fa-info-circle" aria-hidden="true"></i>#}
                {#                        <span class="hide-menu">Error 404</span>#}
                {#                    </a>#}
                {#                </li>#}
            </ul>

        </nav>
    </div>
</aside>
